.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.logo-img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: black;
}

nav a.active {
  color: blue;
}

.rocket-list {
  border-top: 1px solid #d3d3d3;
  padding-top: 30px;
}

.rocket-div {
  display: flex;
  margin-bottom: 40px;
}

.rocket-img {
  height: 300px;
  width: 400px;
  margin-right: 20px;
}

.reserve-btn {
  background-color: #0290ff;
  border: none;
  padding: 1rem;
  color: white;
  border-radius: 5px;
}

.reserve-btn:hover {
  background-color: #57a9e7;
}
